<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
  <meta charset="UTF-8">
  <title th:text="${pageTitle}">TITLE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>

<body>


<header>



  <nav class="navbar navbar-dark bg-dark text-light mb-5">

    <div class="navbar-brand font-weight-bold h1 px-5">Store for Things</div>
    <ul class="nav nav-pills nav-fill">


      <li class="nav-item"><a th:href="@{/}" class="nav-link link-light">Home</a></li>
      <li class="nav-item"><a th:href="@{/catalog}" class="nav-link link-light">Catalog</a></li>
      <li class="nav-item"><a th:href="@{/cart}" class="nav-link link-light">Cart</a></li>
      <li class="nav-item"><a th:href="@{/admin}" class="nav-link link-light">Admin</a></li>
    </ul>
  </nav>


</header>

<footer class="font-md text-center mt-5 text-light">
  <i>Sean Mcgovern, 2021</i>
</footer>

</body>
</html>